{% extends "layout.html" %}
{% block content%}
    <section class="w-full h-full  flex flex-col items-center">
        <h1 class="font-bold md:text-4xl text-2xl my-2">Kanban Name</h1>
        <div class="flex justify-center items-center md:flex-row flex-col w-2/3 gap-5">
            <div class="column flex flex-col gap-2.5 bg-gray-100 p-4 w-full h-full rounded-2xl shadow-lg" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h3 class="text-center mb-2.5 text-xl pb-1.5 border-b-2 border-gray-300">To Do</h3>
                <button class="add-task text-lg bg-gray-200 text-black border-0 p-2.5 rounded-xl cursor-pointer transition duration-300 hover:bg-gray-300" onclick="addTask(this)">+ Adicionar Tarefa</button>
            </div>
            <div class="column flex flex-col gap-2.5 bg-gray-100 p-4 w-full h-full rounded-2xl shadow-lg" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h3 class="text-center mb-2.5 text-xl pb-1.5 border-b-2 border-gray-300">In Progress</h3>
                <button class="add-task text-lg bg-gray-200 text-black border-0 p-2.5 rounded-xl cursor-pointer transition duration-300 hover:bg-gray-300" onclick="addTask(this)">+ Adicionar Tarefa</button>
            </div>
            <div class="column flex flex-col gap-2.5 bg-gray-100 p-4 w-full h-full rounded-2xl shadow-lg" ondrop="drop(event)" ondragover="allowDrop(event)">
                <h3 class="text-center mb-2.5 text-xl pb-1.5 border-b-2 border-gray-300">Done</h3>
                <button class="add-task text-lg bg-gray-200 text-black border-0 p-2.5 rounded-xl cursor-pointer transition duration-300 hover:bg-gray-300" onclick="addTask(this)">+ Adicionar Tarefa</button>
            </div>
        </div>
        <script>
            function allowDrop(event) {
                event.preventDefault();
            }
            function drag(event) {
                event.dataTransfer.setData("text", event.target.id);
            }
            function drop(event) {
                event.preventDefault();
        
                const target = event.target.closest(".column");
        
                if (target && target.classList.contains("column")) {
                    let data = event.dataTransfer.getData("text");
                    let draggedElement = document.getElementById(data);
                    target.appendChild(draggedElement);
                }
            }
            function deleteTask(button) {
                button.parentElement.remove();
            }
            function addTask(button) {
                let newTask = document.createElement("div");
                newTask.classList.add("task", "bg-gray-200", "p-3", "rounded-xl", "cursor-grab", "flex", "justify-space-between", "items-center", "transition", "duration-300", "hover:bg-gray-300");
                newTask.id = "task" + new Date().getTime();
                newTask.draggable = true;
                newTask.ondragstart = drag;
                newTask.innerHTML = `<input class="bg-transparent border-0 text-black w-full outline-0" type="text" value="" onblur="updateTaskName(this)" />
                                    <button class="bg-transparent text-black border-0 cursor-pointer transition duration-300 ease-in-out hover:scale-125" onclick="deleteTask(this)">x</button>`;
                button.parentElement.appendChild(newTask);
                newTask.querySelector("input").focus();
            }
            function updateTaskName(input) {
                if (input.value.trim() === "") {
                    input.value = "Nova Tarefa";
                }
            }
        </script>
    </section>
{% endblock content %}