{% extends "layout.html" %}
{% block content%}
    <section class="w-full h-full flex justify-center items-center flex-col">
        <h1 class="md:text-9xl text-8xl font-black">Oops!</h1>
        <h2 class="text-xl font-bold mt-3">403 - You don't have permission!</h2>
        <p class="mb-2 text-center">Please check your account and try again</p>
        <a class="bg-black text-white px-5 py-2 rounded-full hover:bg-white hover:text-black hover:border hover:border-gray-300 hover:scale-[103%] transition duration-300 ease-in-out" href="{{ url_for('index') }}">Return to StudyFlow</a>
    </section>
{% endblock content %}
