{% extends "layout_admin.html" %}
{% block content %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
    <section class="mx-5 my-4">
        <table>
            <tr>
                <td>
                    <a href="{{ url_for('admin.users_add') }}"
                       class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">add</a>
                </td>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Data Created</th>
                <th>Is Admin</th>
                <th>Pomo Focus</th>
                <th>Pomo Breaks</th>
            </tr>
            {% for user, stat in users_stats %}
                <tr>
                    <td class="flex items-center">
                        <a href="{{ url_for('admin.users_edit', user_id=user.id) }}"
                           class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">edit</a>
                        <a href="{{ url_for('admin.users_delete', user_id=user.id) }}"
                           class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">delete</a>
                    </td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_created }}</td>
                    <td class="{% if user.is_admin %} bg-green-500 {% else %} bg-red-500 {% endif %}">{{ user.is_admin }}</td>
                    <td>{{ stat.pomodoro_focus }}</td>
                    <td>{{ stat.pomodoro_breaks }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock content %}
