{% extends "layout.html" %}
{% block content%}
    <section class="flex items-center justify-center w-full h-full">
        <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0 max-h-[85vh] overflow-auto">
            <form action="" method="POST" class="flex flex-col justify-center p-6 md:p-8 mb-0">
                {{ form.hidden_tag() }}
                <span class="mb-3 text-4xl font-bold">Forgot Password?</span>
                <span class="font-light text-gray-400 mb-8">Please enter your email to reset the password</span>
                <div class="py-2">
                    {{ form.password.label(class="mb-2 text-base") }}
                    {% if form.password.errors %}
                        {{ form.password(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span class="text-red-500 text-sm">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    {% endif %}
                </div>
                <div class="py-2">
                    {{ form.confirm_password.label(class="mb-2 text-base") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <span class="text-red-500 text-sm">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    {% endif %}
                </div>
                <div class="py-2">
                    {{ form.submit(class="w-full bg-black text-white p-2 rounded-lg hover:bg-white hover:text-black hover:border hover:border-gray-300 hover:scale-[103%] transition duration-300 ease-in-out")}}
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
