{% extends "layout.html" %}
{% block content%}
<section class="flex items-center justify-center w-full h-full">
    <div class="relative flex flex-col m-6 space-y-8 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0 max-h-[85vh] overflow-auto">
        <form action="" method="POST" class="flex flex-col justify-center p-6 md:p-8 mb-0">
            {{ form.hidden_tag() }}
            <span class="mb-3 text-4xl font-bold">Update Account</span>
            <div class="py-2">
                {{ form.username.label(class="mb-2 text-base") }}
                {% if form.username.errors %}
                    {{ form.username(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    <div>
                        {% for error in form.username.errors %}
                            <span class="text-red-500 text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.email.label(class="mb-2 text-base") }}
                {% if form.email.errors %}
                    {{ form.email(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    <div>
                        {% for error in form.email.errors %}
                            <span class="text-red-500 text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.current_password.label(class="mb-2 text-base") }}
                {% if form.current_password.errors %}
                    {{ form.current_password(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    <div>
                        {% for error in form.current_password.errors %}
                        <span class="text-red-500 text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.current_password(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.new_password.label(class="mb-2 text-base") }}
                {% if form.new_password.errors %}
                    {{ form.new_password(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    <div>
                        {% for error in form.new_password.errors %}
                        <span class="text-red-500 text-sm">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.new_password(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.submit(class="w-full bg-black text-white p-2 rounded-lg hover:bg-white hover:text-black hover:border hover:border-gray-300")}}
            </div>
        </form>
    </div>
</section>
{% endblock content %}
