{% extends "layout_admin.html" %}
{% block content %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
    <section class="mx-5 my-4">
        <table>
            <tr>
                <td>
                    <div class="flex items-center">
                        <a href="{{ url_for('community.create_blog') }}"
                           class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">add</a>
                    </div>
                </td>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Author</th>
                <th>Category</th>
                <th>Paragraphs</th>
            </tr>
            {% for post in blog_post %}
                <tr id="post-{{ post.id }}">
                    <td>
                        <div class="flex items-center">
                            <a href="{{ url_for('admin.blog_post_edit', blog_post_id=post.id) }}"
                               class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">edit</a>
                            <a href="{{ url_for('admin.blog_post_delete', blog_post_id=post.id) }}"
                               class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">delete</a>
                        </div>
                    </td>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.subtitle }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ Category.query.filter_by(id=post.category_id).first_or_404().name }}</td>
                    <td>
                        <div class="flex items-center">
                            {% set ns = namespace(found_paragraph=False) %}
                            {% for paragraph in paragraphs %}
                                {% if not ns.found_paragraph and paragraph.blog_post_id == post.id %}
                                    {% set ns.found_paragraph = True %}
                                {% endif %}
                            {% endfor %}
                            
                            {% if ns.found_paragraph %}
                                <a class="cursor-pointer text-blue-600 hover:text-blue-800"
                                    onclick="show_paragraphs(this, '{{ post.id }}')">Show Paragraphs
                                </a>
                            {% endif %}
                            <a href="{{ url_for('admin.paragraphs_add', blog_post_id=post.id) }}"
                                class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">
                                add
                            </a>
                        </div>
                    </td>
                </tr>
                {% for paragraph in paragraphs %}
                    {% if paragraph.blog_post_id == post.id %}
                        <tr class="paragraphs-{{ post.id }} hidden border-l-2">
                            <td>
                                <div class="flex items-center">
                                    <a href="{{ url_for('admin.paragraphs_edit', paragraph_id=paragraph.id) }}"
                                       class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">edit</a>
                                    <a href="{{ url_for('admin.paragraphs_delete', paragraph_id=paragraph.id) }}"
                                       class="material-symbols-outlined transition duration-300 ease-in-out hover:scale-110">delete</a>
                                </div>
                            </td>
                            <td>
                                {{ paragraph.id }}
                            </td>
                            <td colspan="2">
                                <strong class="text-sm">Title:</strong>{{ paragraph.title }}
                            </td>
                            <td colspan="3">
                                <strong class="text-sm">Content:</strong>{{ paragraph.content }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </section>
    <script>
        function show_paragraphs(btn, paragraph_id){
            let paragraph_class = `paragraphs-${paragraph_id}`
            console.log(paragraph_class)
            const paragraphs = document.querySelectorAll(`.${paragraph_class}`)
            paragraphs.forEach(element => {
                if (element.classList.contains('hidden')){
                    btn.innerText = "Hide Paragraphs"
                    element.classList.remove('hidden')
                } else{
                    element.classList.add('hidden')
                    btn.innerText = "Show Paragraphs"
                }
            });
            console.log('a')
        }
    </script>
{% endblock content %}
