{% extends "layout.html" %}
{% block content %}
    <section class="flex justify-center w-full min-h-full">
        <form action=""
              method="POST"
              enctype="multipart/form-data"
              class="flex flex-col justify-center p-6 md:p-8 mb-0 md:max-w-[30vw] md:w-[30vw]">
            {{ form.hidden_tag() }}
            <span class="mb-3 text-4xl font-bold">Creating a Blog Post</span>
            <div id="picture_input"
                 class="py-2 flex flex-col justify-center items-center gap-2">
                {{ form.picture.label(class="text-base bg-black rounded-full text-white px-3 py-1 hover:bg-white hover:text-black hover:border hover:border-gray-300 hover:scale-105 transition duration-300 ease-in-out") }}
                {{ form.picture(class="invisible h-0") }}
                <p id="file_name"></p>
                {% if form.picture.errors %}
                    <div>
                        {% for error in form.picture.errors %}<span class="text-red-500 text-sm">{{ error }}</span>{% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.title.label(class="mb-2 text-base") }}
                {% if form.title.errors %}
                    {{ form.title(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    <div>
                        {% for error in form.title.errors %}<span class="text-red-500 text-sm">{{ error }}</span>{% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.subtitle.label(class="mb-2 text-base") }}
                {% if form.subtitle.errors %}
                    {{ form.subtitle(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                    <div>
                        {% for error in form.subtitle.errors %}<span class="text-red-500 text-sm">{{ error }}</span>{% endfor %}
                    </div>
                {% else %}
                    {{ form.subtitle(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                {% endif %}
            </div>
            <div class="py-2">
                {{ form.category.label(class="mb-2 text-base") }}
                {{ form.category(class="form-control border-2 rounded-2xl px-2") }}
            </div>
            <div id="paragraph-container">
                <div>
                    <div class="py-2">
                        {{ form.title_paragraph.label(class="mb-2 text-base") }}
                        {% if form.title_paragraph.errors %}
                            {{ form.title_paragraph(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                            <div>
                                {% for error in form.title_paragraph.errors %}<span class="text-red-500 text-sm">{{ error }}</span>{% endfor %}
                            </div>
                        {% else %}
                            {{ form.title_paragraph(class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                        {% endif %}
                    </div>
                    <div class="py-2">
                        {{ form.paragraph.label(class="mb-2 text-base") }}
                        {% if form.paragraph.errors %}
                            {{ form.paragraph(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                            <div>
                                {% for error in form.paragraph.errors %}<span class="text-red-500 text-sm">{{ error }}</span>{% endfor %}
                            </div>
                        {% else %}
                            {{ form.paragraph(class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <a onclick="addFields()"
               class="flex items-center gap-1 mb-5 cursor-pointer w-fit hover:text-black hover:scale-[103%] transition duration-300 ease-in-out"><span class="material-symbols-outlined">add</span> Add Paragraph</a>
            <hr class="text-gray-300 my-2">
            <a onclick="showExercises(this)"
               class="flex items-center gap-1 mb-5 cursor-pointer w-fit hover:text-black hover:scale-[103%] transition duration-300 ease-in-out"><span class="material-symbols-outlined">visibility_off</span> Show Exercises</a>
            <section id="exercises" class="hidden">
                <div class="flex flex-col gap-4">
                    <input type="text"
                           name="alternativeA[]"
                           placeholder="Alternative A"
                           class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text"
                           name="alternativeB[]"
                           placeholder="Alternative B"
                           class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text"
                           name="alternativeC[]"
                           placeholder="Alternative C"
                           class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text"
                           name="alternativeD[]"
                           placeholder="Alternative D"
                           class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text"
                           name="answer[]"
                           placeholder="Answer"
                           class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                </div>
                <!--
                <hr class="text-gray-300 my-4">
                <div class="flex flex-col gap-2">
                    <input type="text" name="alternativeA[]" placeholder="Alternative A" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeB[]" placeholder="Alternative B" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeC[]" placeholder="Alternative C" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeD[]" placeholder="Alternative D" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="answer[]" placeholder="Answer" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                </div>
                <hr class="text-gray-300 my-4">
                <div class="flex flex-col gap-2">
                    <input type="text" name="alternativeA[]" placeholder="Alternative A" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeB[]" placeholder="Alternative B" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeC[]" placeholder="Alternative C" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeD[]" placeholder="Alternative D" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="answer[]" placeholder="Answer" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                </div>
                <hr class="text-gray-300 my-4">
                <div class="flex flex-col gap-2">
                    <input type="text" name="alternativeA[]" placeholder="Alternative A" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeB[]" placeholder="Alternative B" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeC[]" placeholder="Alternative C" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeD[]" placeholder="Alternative D" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="answer[]" placeholder="Answer" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                </div>
                <hr class="text-gray-300 my-4">
                <div class="flex flex-col gap-2">
                    <input type="text" name="alternativeA[]" placeholder="Alternative A" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeB[]" placeholder="Alternative B" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeC[]" placeholder="Alternative C" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="alternativeD[]" placeholder="Alternative D" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                    <input type="text" name="answer[]" placeholder="Answer" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">
                </div>
                -->
                <hr class="text-gray-300 my-2">
            </section>
            <div class="py-2">
                {{ form.submit(class="w-full bg-black text-white p-2 rounded-lg hover:bg-white hover:text-black hover:border hover:border-gray-300 hover:scale-[103%] transition duration-300 ease-in-out") }}
            </div>
        </form>
    </section>
    <script>
        document.querySelector("input[type=file]").addEventListener("change", function(e){
            document.getElementById("file_name").innerText =  e.target.files[0].name
        })
    </script>
    <script>
        function addFields() {
            let container = document.getElementById("paragraph-container");
            let div = document.createElement("div");
            div.innerHTML = `
                <label class="mb-2 text-base">{{ form.title_paragraph.label }}</label>
                <input type="text" name="title[]" class="transition duration-300 ease-in-out hover:scale-105 w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500">

                <label class="mb-2 text-base">{{ form.paragraph.label }}</label>
                <textarea name="paragraph[]" class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500"></textarea>
            `;
            container.appendChild(div);
        }
        let shown = true
        const exercises = document.getElementById("exercises")
        function showExercises(element) {
            if (shown == false) {
                element.innerHTML = '<span class="material-symbols-outlined">visibility_off</span> Show Exercises'
                exercises.classList.add("hidden")
                shown = true
            } else {
                element.innerHTML = '<span class="material-symbols-outlined">visibility</span> Hide Exercises'
                exercises.classList.remove("hidden")
                shown = false
            }
        }
    </script>
{% endblock content %}
